<launch>
   <!-- hand descriptions -->
  <rosparam command="load" file="$(find ork_tabletop_actionlib_server)/config/pr2_hand_descriptions.yaml"/>

  <!-- database connection parameters -->
  <rosparam command="load" file="$(find ork_tabletop_actionlib_server)/config/bosch.yaml"/>
  <!-- start the database wrapper node -->
  <node pkg="household_objects_database" name="objects_database_node" type="objects_database_node" 
  	respawn="true" output="screen"/>

</launch>