<launch>
    <node pkg="augmented_object_selection" name="augmented_object_selection" type="augmented_object_selection" output="screen">
        <remap from="object_selection_srv" to="tabletop_segmentation"/>
    		<remap from="image_in" to="/kinect_head/camera/rgb/image_color" />
    		<remap from="depth_image_in" to="/kinect_head/camera/depth/image" />
    		<remap from="camera_info_in" to="/kinect_head/camera/rgb/camera_info" />
                <param name="processing_frame" value="base_link" />
                <!--remap from="image_in" to="/narrow_stereo_textured/right/image_color" /-->
                <!--remap from="depth_image_in" to="/narrow_stereo_textured/disparity" /-->
                <!--remap from="camera_info_in" to="/narrow_stereo_textured/right/camera_info" /-->
        <remap from="cloud_in" to="/kinect_head/camera/rgb/points" />
        <!--remap from="cloud_in" to ="/narrow_stereo_textured/points2"/-->
        <remap from="markers_out" to="/tabletop_detector_markers" />
    </node>
</launch>

