<launch>
  <!-- Launches the kinect. TODO: remap arg 'camera' here -->
  <include file="$(find openni_launch)/launch/openni.launch">
    <arg name="depth_registration" value="true"/> 
  </include>
	   

  <!-- the kinect's depth and rgb images are not published synchronously.
  This gathers them and provides a service to obtain the most recent set -->
<!--  <node name="assemble_kinect" pkg="assemble_kinect" type="assemble_kinect"/>-->

  <!-- This handles the interactive segmentation of objects -->
<!--  <node name="grabcut3d_segmentation" pkg="grabcut3d_segmentation" type="grabcut3d_segmentation_node"/> -->
  
  <!-- Implements the Interactive Marker server and all the actionlib services
  that the segmentation node depends on -->
<!--  <node name="HMI" pkg="im_hmi" type="im_hmi.py"/>-->

<!--  <node name="run_segmentation" pkg="clear_table" type="run_segmentation.py"/> -->

</launch>