<launch>

  <arg name="kinect_name" value="/head_mount_kinect"/>
  <arg name="segment_service" value="segment_service"/>
<!--
 <include file="$(find pr2_moveit_config)/launch/move_group.launch">
  <arg name="publish_monitored_planning_scene" value="true" />
  <arg name="info" value="true" /> 
 </include>

 <include file="$(find pr2_moveit_config)/launch/moveit_rviz.launch"/>
-->

 <include file="$(find cluster_grasp_planner)/launch/pr2_cluster_grasp_planner.launch">
   <arg name="use_machine" value="false"/>
 </include>


  <node name="run_clear_table" pkg="clear_table" type="clear_table_moveit.py" launch-prefix="xterm -e">
    <remap from="assemble_kinect" to="$(arg kinect_name)/assemble_kinect"/>
    <remap from="segment_service" to="$(arg segment_service)"/>
    <param name="data_wait" value="10.0"/>
  </node>


  <!-- This takes care of launching the HMI, assemble_kinect and grabcut3d -->
  <include file="$(find shared_autonomy_launch)/launch/pr2_segmentation.launch">
    <arg name="segment_service" value="$(arg segment_service)"/>
    <arg name="kinect_name" value="$(arg kinect_name)"/>
  </include>

</launch>