<launch>
  <master auto="start"/>
  <param name="/use_sim_time" value="true"/>
  <node pkg="stage" type="stageros" name="stage" args="$(find bosch_worlds)/maze.world" respawn="false" output="screen"/>
  <node pkg="joy" type="joy_node" name="joy" />
  <node pkg="segway_joystick" type="segway_joystick" name="segway_joystick" />

  <node pkg="safe_teleop_base" type="safe_teleop_base" respawn="false" name="safe_teleop_base" output="screen">
    <remap from="safe_vel" to="/cmd_vel"/>

    <rosparam file="$(find segway_config)/footprint.yaml" command="load" />
    <param name="footprint_padding" value="0.05" />

    <rosparam file="$(find safe_teleop_stage)/config/local_costmap.yaml" command="load" />
    <rosparam file="$(find safe_teleop_stage)/config/safe_teleop_stage_params.yaml" command="load" />
  </node>

</launch>

